@model Solentive.Interview.Model.Track

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "addTrackForm" }))
{
    var bl = BundleTable.Bundles;
    <div class="well container">
        <div class="row">
            <div class="col-md-12">
                <h2>Tracks - Add</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Name:
            </div>
            <div class="col-md-10">
                @Html.TextBox("Name", Model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                &nbsp;@Html.ValidationMessageFor(i => i.Name)
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <button id="btnSaveTrack" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Save
                </button>&nbsp;
                <a href="@Url.Action("List", "Track")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancel
                </a>
            </div>
        </div>
    </div>
}
