@model Solentive.Interview.Model.Level

@{
    ViewBag.Title = "Add Level";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "addLevelForm" }))
{
    <div class="well container">
        <div class="row">
            <div class="col-md-12">
                <h2>Levels - Add</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Name:
            </div>
            <div class="col-md-10">
                @Html.TextBox("Name", Model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                &nbsp;@Html.ValidationMessageFor(i => i.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Scaling:
            </div>
            <div class="col-md-10">
                @Html.TextBox("Scaling", Model.Scaling)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                &nbsp;@Html.ValidationMessageFor(i => i.Scaling)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                <div id="divResultLevel"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="btnSaveLevel" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Save
                </button>&nbsp;
                <a href="@Url.Action("List", "Level")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancel
                </a>
            </div>
        </div>
    </div>
}

